<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="jumbotron">
    <h1>Bienvenidos BBS</h1>
    <p>Nos robaron la final!!</p>
</div>

<%- include('../partials/footer') %>