<header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/usuarios/consultar">Consultar</a></li>
            <li><a href="/usuarios/insertar">Insertar</a></li>
        </ul>
    </nav>
</header>